#simple-lightbox-overlay {
	position:absolute;
	margin: 0px;
	padding: 0px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	/* set background-color with fallback for older IE */ 
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
}

#simple-lightbox-overlay img {
	position: absolute;
	border: 5px solid #9bbdde;
	z-index: 9999;
}
